build/
.gradle/
/.idea/.name
/.idea/gradle.xml
/.idea/modules.xml
/.idea/misc.xml

/.idea/libraries/*
/.idea/scopes/*
/.idea/dictionaries/*
/.idea/copyright/*

*.iml

/custom.properties
/src/resources/selenium-rc.properties
